<navbar id="navbar">
  <nav id="title-nav">
    <a href="<%- url_for("/") %>">
      <div id="vivia-logo">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
      <div><%- config.title %> </div>
    </a>
  </nav>
  <nav id="main-nav">
    <% for (var i in theme.menu){ %>
      <a class="main-nav-link" href="<%- url_for(theme.menu[i]) %>"><%= i %></a>
    <% } %>
  </nav>
  <nav id="sub-nav">
    <% if (theme.umami_stats_url){ %>
      <a id="nav-stats-link" class="nav-icon" href="<%- theme.umami_stats_url %>" target="_blank" title="&#32479;&#35745;">
        <svg xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 -960 960 960" width="20"><path d="M120-120v-80l80-80v160h-80Zm160 0v-240l80-80v320h-80Zm160 0v-320l80 81v239h-80Zm160 0v-239l80-80v319h-80Zm160 0v-400l80-80v480h-80ZM120-327v-113l280-280 160 160 280-280v113L560-447 400-607 120-327Z" fill="currentColor"/></svg>
      </a>
    <% } %>
    <div id="nav-menu-btn" class="nav-icon">
      <%- partial('_icon/menu') %>
    </div>
  </nav>
</navbar>
<div id="nav-dropdown" class="hidden">
  <div id="dropdown-link-list">
    <% for (var i in theme.menu){ %>
      <a class="nav-dropdown-link" href="<%- url_for(theme.menu[i]) %>"><%= i %></a>
    <% } %>
    </div>
</div>
<script>
  let dropdownBtn = document.getElementById("nav-menu-btn");
  let dropdownEle = document.getElementById("nav-dropdown");
  dropdownBtn.onclick = function() {
    dropdownEle.classList.toggle("hidden");
  }
</script>